section.h-footer
	.container
		ul.services-show
			li
				a(href="")
					img(src="../img/icons8.png", alt="")
					span Tư vấn khách hàng
			li
				a(href="")
					img(src="../img/icons8-booklet.png", alt="")
					span Tư vấn khách hàng
			li
				a(href="")
					img(src="../img/icons8-delivery.png", alt="")
					span Tư vấn khách hàng
			li
				a(href="")
					img(src="../img/icons8-delivery.png", alt="")
					span Tư vấn khách hàng
<!-- ////////////// FOOTER ////////////// -->
footer.pt-4
	.container
		.row
			.col-12.col-md
				h4 Công ty TNHH điện máy Trường Tín
				p Hương Lộ 2, p. Bình Trị Đông A, q.BT
				p Điện thoại: 012345678
				p Email: 
					span email@gmail.com
				img(src="./img/dathongbao.png", alt="")
				img(src="./img/dadangky.png", alt="")
			.col-6.col-md
				h5 danh mục sản phẩm
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") 
							i.fa.fa-angle-right
							|Dụng cụ cầm tay
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Dụng cụ đồ nghề
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Thiết bị nông nghiệp
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Thiết bị ngành điện nước
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Đồ ngũ kim
			.col-6.col-md
				h5 Về trường tín
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Giới thiệu
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Liên hệ
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Tin tức sự kiện
					li
						a.text-muted(href="#") 
						i.fa.fa-angle-right
						|Tuyển dụng
			.col-6.col-md
				h5 Hỗ trợ khách hàng
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Đổi trả
					li
						a.text-muted(href="#") Kiến thức chung
					li
						a.text-muted(href="#") Bảo hành bảo trì
			.col-6.col-md
				h5 Đăng ký nhận bản tin
				p Nhận những thông tin mới nhất vàcác sản phẩm khuyến mãi từ Điệnmáy Trường Tín
				input(type='text', placeholder='Search')
				.hotline
					img(src="./img/icons8-headset.png", alt="")
					p Hotline
					strong 132231
.copyright
	.container
		.row
			.col-lg-6.col-md-12
				|Copyright 2019 Công ty TNHH Điện máy Trường Tín. All rights res
			ul.col-lg-6.col-md-12.mb-0
				li
					.thanhtoan
						| Chấp nhận thanh toán
						img(src="./img/pages.png", alt="")
				li
					|Theo dõi
					a(href="")
						i.fa.fa-facebook
					a(href="")
						i.fa.fa-twitter
					a(href="")
						i.fa.fa-pinterest
					
