header
	.container
		.row
			.col-lg-5.col-ms-12
				a(href="")
					img(src="./img/logo-big.png", alt="")
				.box-search
					input.bs(type="text" placeholder='nhập tìm kiếm')
					.btn-search
						i.fa.fa-search
			.col-lg-7.col-ms-12.top-list
				a(href="")
					img(src="../img/top-icon1.png", alt="")
					span Dụng cụ điện
				a(href="")
					img(src="../img/top-icon2.png", alt="")
					span Đồ nghề
				a(href="")
					img(src="../img/top-icon3.png", alt="")
					span Máy nông nghiệp
				a(href="")
					img(src="../img/top-icon4.png", alt="")
					span Đồ ngũ kim
				a(href="")
					img(src="../img/users.png", alt="")
					span Tài khoản
				a(href="")
					img(src="../img/shop2.png", alt="")
					span Giở hàng
.box1
	.container
		.col-lg-12.col-md-12.col-ms-12.p-0
			ul.menu
				li.f1
					a(href="")
						i.fa.fa-bars
						|Danh mục sản phẩm 
				li.f2
					a(href="") Hướng dẫn mua hàng
				li.f3
					a(href="") Về chúng tôi
				li.f3
					a(href="") Tuần lễ vàng


